<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css"  href="static/css/style.css"/>
		<script type="text/javascript" src="static/js/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="static/js/common.js"></script>
		
		<title>Instructions</title>
	</head>
	<body>
		<div class="nav">
			<div class="wrap_990">
				<a href="index.php" class="nav_logo2"><img alt="KDD Cup" src="static/images/logo2.png"/></a>
				<ul>
					<li><a href="/" class="current">Home</a><span>|</span></li>
					<li><a href="/add">Submission</a><span>|</span></li>
					<li><a href="/queue/page1">Recent Submissions</a><span>|</span></li>
				</ul>
			</div>
		</div>
		<div class="map3">
			<img src="static/images/map3.png" />
		</div>
		<div class="content_wrap wrap_990 clearfix">
			<div class="content_left">
				<p class="head_one">Tasks</p>
				<p class="section">The competition is divided into two tracks:</p>
				<p class="section"><span class="first_word2">Track1:</span> Learning to predict user's ratings of musical items. Items can be tracks, albums, artists and genres. Items form a hierarchy, such that each track belongs to an album, albums belong to artists, and together they are tagged by genres.</p>
				<p class="section"><span class="first_word2">Track2:</span> Learning to separate tracks scored highly by specific users from tracks not scored by them. In track2 the test set includes six items per user (all are tracks), three of which were rated highly (score 80 or higher) by the user and three were not rated by the user. The three unrated items are sampled with a probability proportional to number of their high (>=80) ratings. The task is to classify each item as either rated or not rated by user (1 or 0 respectively). A hierarchy of items similar to the one used in Track 1 is also given for Track 2. However, timestamps of the ratings, which are given in Track 1, are withheld for Track 2. </p>
				<p class="section line">You can compete in one or both tracks. The targets on test sets are not given. The goal is to train a model on train a model on the training set and to predict the relevant targets for each item on the test set.</p>
				
				<p class="head_one mt20">Evaluation</p>
				<p class="section"> aaa</p>
				<p class="section line"> bbb</p>
				
				<p class="head_one mt20">Teams</p>
				<p class="section"> aaa</p>
				
				<p class="head_one mt20">Submissions Formats</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				
				<p class="head_one mt20">Final Submission</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
				<p class="section"> aaa</p>
			</div>
			<div class="content_right">
				<p class="head_two">Important Dates</p>
				<p class="section_data"><span>March 1, 2012,</span> Registration Opens</p>
				<p class="section_data"><span>March 5, 2012,</span> Competition Begins</p>
				<p class="section_data"><span>June 1, 2012,</span> Competition Ends</p>
				<p class="section_data"><span>June 8, 2012,</span> Winners Notified</p>
				<p class="section_data"><span>August 12, 2012,</span> Workshop</p>
				
				<p class="head_two">Reminder</p>
				<p class="reminder">Early registration to KDD'11 ends on June 30th. We hope to see you there at the KDD-Cup workshop and the winners presentation.</p>
					
				<p class="head_two mt20">Questions?</p>
				<p class="section_question">Visit our Tencent! Group</p>
				
			</div>
		</div>
		<div class="footer wrap_990 ">
			<p class="section_footer">Terms of Service - Privacy Policy - Contest Rules - Help</p>
			<p class="section_footer">&copy; 2012 Tencent - KDD Cup</p>
		</div>
	</body>
</html>
